@model YourAnimeList.Models.Anime
@{

    ViewData["Title"] = @Model.AnimeName;
    ViewData["PageHeading"] = @Model.AnimeName;

}
    <section>
        <div class="animeDes"
            <h2>@Model.AnimeName</h2>
            <div class="mainImage">
                <img src="~/images/@Model.AnimeURL" alt="@Model.AnimeName" />
            </div>

            <div class="AnimeInfo">
                <p>Genere: @Model.AnimeGenere</p>
                <p>Number of Episodes: @Model.AnimeEpisodes</p>
                <p>Description: @Model.AnimeDescription</p>
                <p>Relaese Date: @Model.AnimeReleaseDate</p>
                <p>Studio: @Model.AnimeStudio</p>
                <p>Rating: @Model.AnimeRating</p>
            </div>
        </div>

    </section>
